<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="225D11AC-63BD-4122-8793-3EFC03BD662B"
             UpgradeCode="E1F9C8CA-8786-4957-BEBC-A7D8D705F44E"
             Language="1033"
             Name="Snagit Jira Output Accessory"
             Version="0.1.0"
             Manufacturer="Ryan Taylor">

        <Package Id="*"
                 InstallerVersion="200"
                 Compressed="yes"
                 InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="SnagitJiraOutputAccessory.Setup" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    
        <Condition Message="[ProductName] is only supported on Windows 7 and higher.">
            <![CDATA[Installed OR (VersionNT >= 601)]]>
        </Condition>
    
    </Product>
    
    <Fragment>
        <Property Id="INSTALLDIR">
            <DirectorySearch Id="LocalAppDataFolder" Path="[LocalAppDataFolder]" AssignToProperty="no" Depth="0">
                <DirectorySearch Id="SnagitAccessoriesDir" Path="TechSmith\Snagit\Accessories" AssignToProperty="yes" Depth="0"/>
            </DirectorySearch>
        </Property>
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="INSTALLDIR">
                <Directory Id="INSTALLFOLDER" Name="{55A50CAA-D9E3-4239-8B02-D6D2A396F4AF}" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="JiraOutputPlugin" Guid="123787D5-F69E-4A78-B0D7-14E11913FA03">
                <File Source="$(var.SnagitJiraOutputAccessory.TargetDir)\Atlassian.Jira.dll" />
                <File Source="$(var.SnagitJiraOutputAccessory.TargetDir)\Atlassian.Jira.xml" />
                <File Source="$(var.SnagitJiraOutputAccessory.TargetDir)\Jira.ico" />
                <File Source="$(var.SnagitJiraOutputAccessory.TargetDir)\Newtonsoft.Json.dll" />
                <File Source="$(var.SnagitJiraOutputAccessory.TargetDir)\Package.xml" />
                <File Id="theFile" Source="$(var.SnagitJiraOutputAccessory.TargetDir)\SnagitJiraOutputAccessory.dll" KeyPath="yes" />
                <File Source="$(var.SnagitJiraOutputAccessory.TargetDir)\SnagitJiraOutputAccessory.Output.xml" />

                <Class Id="{55A50CAA-D9E3-4239-8B02-D6D2A396F4AF}" Context="InprocServer32" Description="SnagitJiraOutputAccessory.Package" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="SnagitJiraOutputAccessory.Package" Description="SnagitJiraOutputAccessory.Package" />
                </Class>
                <Class Id="{D3B2FCA3-7A2C-4AF9-86D4-2E542118E8F8}" Context="InprocServer32" Description="SnagitJiraOutputAccessory.SnagitJiraOutputButton" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="SnagitJiraOutputAccessory.SnagitJiraOutputButton" Description="SnagitJiraOutputAccessory.SnagitJiraOutputButton" />
                </Class>

                <!-- TODO: Replace 0.1.0.0 with assembly version -->
                <RegistryValue Root="HKCR" Key="CLSID\{55A50CAA-D9E3-4239-8B02-D6D2A396F4AF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55A50CAA-D9E3-4239-8B02-D6D2A396F4AF}\InprocServer32\0.1.0.0" Name="Class" Value="SnagitJiraOutputAccessory.Package" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55A50CAA-D9E3-4239-8B02-D6D2A396F4AF}\InprocServer32\0.1.0.0" Name="Assembly" Value="SnagitJiraOutputAccessory, Version=0.1.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55A50CAA-D9E3-4239-8B02-D6D2A396F4AF}\InprocServer32\0.1.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55A50CAA-D9E3-4239-8B02-D6D2A396F4AF}\InprocServer32\0.1.0.0" Name="CodeBase" Value="file:///[#theFile]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55A50CAA-D9E3-4239-8B02-D6D2A396F4AF}\InprocServer32" Name="Class" Value="SnagitJiraOutputAccessory.Package" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55A50CAA-D9E3-4239-8B02-D6D2A396F4AF}\InprocServer32" Name="Assembly" Value="SnagitJiraOutputAccessory, Version=0.1.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55A50CAA-D9E3-4239-8B02-D6D2A396F4AF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{55A50CAA-D9E3-4239-8B02-D6D2A396F4AF}\InprocServer32" Name="CodeBase" Value="file:///[#theFile]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D3B2FCA3-7A2C-4AF9-86D4-2E542118E8F8}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D3B2FCA3-7A2C-4AF9-86D4-2E542118E8F8}\InprocServer32\0.1.0.0" Name="Class" Value="SnagitJiraOutputAccessory.SnagitJiraOutputButton" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D3B2FCA3-7A2C-4AF9-86D4-2E542118E8F8}\InprocServer32\0.1.0.0" Name="Assembly" Value="SnagitJiraOutputAccessory, Version=0.1.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D3B2FCA3-7A2C-4AF9-86D4-2E542118E8F8}\InprocServer32\0.1.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D3B2FCA3-7A2C-4AF9-86D4-2E542118E8F8}\InprocServer32\0.1.0.0" Name="CodeBase" Value="file:///[#theFile]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D3B2FCA3-7A2C-4AF9-86D4-2E542118E8F8}\InprocServer32" Name="Class" Value="SnagitJiraOutputAccessory.SnagitJiraOutputButton" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D3B2FCA3-7A2C-4AF9-86D4-2E542118E8F8}\InprocServer32" Name="Assembly" Value="SnagitJiraOutputAccessory, Version=0.1.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D3B2FCA3-7A2C-4AF9-86D4-2E542118E8F8}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D3B2FCA3-7A2C-4AF9-86D4-2E542118E8F8}\InprocServer32" Name="CodeBase" Value="file:///[#theFile]" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
